<div class="col-sm-12 col-md-6 m-auto mt-5">
  <form action="/" method="post" class="form px-5 py-3 m-auto card text-center wrapper">
    {{>nav}}
    <div class="row g-4 mt-4">
      <div class="col">
        <div class="card">
          <div class="card-body text-start">
            <h5>M1: Menú Vegetariano</h5>
            <h5>M2: Menú Celiaco</h5>
            <h5>M2: Menú Estándar</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-start">
            <h5>M1: Menú Calórico</h5>
            <h5>M2: Menú Autóctono</h5>
          </div>
        </div>
      </div>


      <!--////////////////////////////////////////////////////-->
      <div class="row mt-3">
        <div class="col-sm-12 col-md-3">
          <label for="" class="form-label">School</label>
          <select id="users" class="form-select">
            <option selected>Elegir</option>
            {{#each users}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-sm-12 col-md-3">
          <label for="" class="form-label">Desde</label>
          <input type="date" class="form-control" id="desde">
        </div>
        <div class="col-sm-12 col-md-3">
          <label for="" class="form-label">Hasta</label>
          <input type="date" class="form-control" id="hasta">
        </div>
         <div class="col-sm-12 col-md-3">
          <label for="" class="form-label text-white">Presionar</label>
          <button type="submit" class="form-control btn btn-primary" onclick="filtrar()">Filtrar</button>
        </div>

      </div>


      <!--////////////////////////////////////////////////////-->

      <table class="table table-bordered col-sm-12 col-md-6">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">M1</th>
            <th scope="col">M2</th>
            <th scope="col">M3</th>
            <th scope="col">M4</th>
            <th scope="col">M5</th>
            <th scope="col">ACCIÓN</th>
          </tr>
        </thead>
        <tbody id="cuerpo">
          {{#each orders}}
          <tr class="bg-{{#if this.is_rectifield}}success{{else}}warning{{/if}}">
            <th>{{ dateFormat this.date "DD-MM-YYYY" }}</th>
            <td>{{this.vegetarian}}</td>
            <td>{{this.celiac}}</td>
            <td>{{this.standar}}</td>
            <td>{{this.caloric}}</td>
            <td>{{this.ethnic}}</td>
            <td class="text-{{#if this.is_rectifield}}success font-weight-bold"><button type="submit"
                class="btn btn-success btn-outline-dark" onclick="verDetalle({{ this.id }})">Ver Detalles</button></td>{{else}}danger
            font-weight-bold"></td>
            {{/if}}

          </tr>
          {{/each}}
        </tbody>
      </table>


  </form>
</div>



